body{
    /* The image used */
    background-image: url("./components/Disc-Golf.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body,
html {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.message {
  margin-left: 10px;
  width: 60%;
}

header {
  height: 10vh;
}
footer {
  height: 5vh;
}

.main{
  /* max-width: 100%; */
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.background-container {
  position: relative;
  
}

.centered {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vw;
  width: 90%;
  /* background-color: rgba(0, 0, 0, 0.438); */
}

.mapSide{
  /* background-color: aqua; */ 
  /* position: relative; */
  
  height: 85vh;
  width: 50vw;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
}

.commentSide{
  /* background-color: darkgray; */
   /* position: relative;
   z-index: 4; */
  /* width: 50vw; */
  padding-left: 3%;
  padding-top: 3%;
}

.footer {
  padding-left: 3%;
}


